absl-py==2.3.1
astunparse==1.6.3
cachetools==4.2.2
certifi==2026.2.25
cffi==1.16.2          # updated for Python 3.12 compatibility
charset-normalizer==3.4.4
gast==0.4.0
google-auth==2.48.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.51.1         # compatible prebuilt wheel for Colab
h5py==3.9.0            # compatible prebuilt wheel for Python 3.12
hydra-core==1.1.0
idna==3.4
importlib-metadata==6.6.0
Keras-Preprocessing==1.1.2
Markdown==3.9
numpy==1.23.5
oauthlib==3.3.1
omegaconf==2.1.2
opt-einsum==3.3.0
pandas==1.3.5
protobuf==3.20.3
pyasn1==0.6.2
pyasn1-modules==0.4.8
pycparser==2.23
python-dateutil==2.8.2
pytz==2021.1
PyYAML==6.0.3
requests==2.32.5
requests-oauthlib==2.0.0
rsa==4.9.1
scipy==1.10.1
six==1.16.0
SoundFile==0.10.3.post1
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
termcolor==1.1.0
tqdm==4.67.3
typing-extensions==4.5.0
urllib3==2.6.3
Werkzeug==3.1.3
wrapt==1.12.1
zipp==3.23.0
